.image {
  position: absolute;
  right: 0px;
  left: 0px;
  margin-inline: auto;
  top: 20px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;

  background-repeat: no-repeat;
}

body.pro{
  background-color: #dd81e2;
}

.titre-gt {
  color :#f35a08; 
}
.titre-pro {
  color :#92059a;
}

header {
 /* background: rgb(62, 38, 167);*/
  height: 100px;
}
section {
  display: flex;
}
article {
  padding: 10px;
  margin: 10px;
  /*background: aqua;*/
}
/* Ajoutez votre CSS flexbox ci-dessous */