.image {
  position: absolute;
  right: 0px;
  left: 0px;
  margin-inline: auto;
  top: 20px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*font-family: sans-serif;*/
font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
}

body.gen{
  background-color: #e9c5ac;
  font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat', sans-serif;

}
body.pro{
  background-color: #e8b7eb;
  font-family: 'Montserrat', sans-serif;
}

body.tous{
  background-color: #a7a5de;
  font-family: 'Montserrat', sans-serif;

}
.titre-tous {text-align: center;
  color :#200fba; 
  font-family: 'Montserrat', sans-serif;

}
.titre-gt {text-align: center;
  color :#f35a08; 
  font-family: 'Montserrat', sans-serif;

}
.titre-pro {text-align: center;
  color :#92059a;
  font-family: 'Montserrat', sans-serif;

}

header {
 /* background: rgb(62, 38, 167);*/
  height: 100px;
}
section {
  display: flex;
  font-family: 'Montserrat', sans-serif;

}
article {
  padding: 10px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;

  /*background: aqua;*/
}
/* Ajoutez votre CSS flexbox ci-dessous */