/* Style général */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
body.accueil {
  background-image: url(../img/Accueil.JPG)
}
body.vente{
  background-image: url(../img/Ateliers/MCV.jpg)
}
h1{ 
  color :#f00707; 
  font-size: 80px;
}
.titre-gt {
  color :#f35a08; 
}
.titre-pro {
  color :#92059a;
}
/* Conteneur de la carte */
#map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Carte Leaflet */
#map {
  width: 100%;
  height: 100%;
}

/* Mobile portrait : rotation du conteneur uniquement */
@media screen and (max-width: 768px) and (orientation: portrait) {
  #map-container {
    transform: rotate(90deg);
    transform-origin: center center;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  /* La carte elle-même reste normale */
  #map {
    width: 100%;
    height: 100%;
  }
}


/* Popup des stands (optionnel : fixe, responsive) */
.leaflet-popup-content {
  font-size: 20px;
	width: 600px !important;
}

.leaflet-popup-content-wrapper {
  padding: 10px;
}

